In [1]:
#!pip install pandas

In [2]:
import pandas as pd

In [29]:
s = pd.Series(
    data= ['maisena','farinha','açúcar','ovos','manteiga','castanha']
    , index= ['ig1','ig2','ig3','ig4','ig5','ig6']
    , name= 'ingredientes'
    , dtype= str
)
s

ig1     maisena
ig2     farinha
ig3      açúcar
ig4        ovos
ig5    manteiga
ig6    castanha
Name: ingredientes, dtype: object

In [8]:
s.values

array(['maisena', 'farinha', 'ovos', 'manteiga', 'castanha'], dtype=object)

In [10]:
type(s.values)

numpy.ndarray

In [11]:
s.name

'ingredientes'

In [ ]:
#Index automatico
s.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
#Index definido
s.index

Index(['ig1', 'ig2', 'ig3', 'ig4', 'ig5'], dtype='object')

In [ ]:
#Index Pandas
type(s.index)

pandas.core.indexes.base.Index

In [20]:
s[1]

C:\Users\BAA0813BR\AppData\Local\Temp\ipykernel_28316\878419959.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[1]

'farinha'

In [23]:
s[0:-1]

ig1     maisena
ig2     farinha
ig3        ovos
ig4    manteiga
Name: ingredientes, dtype: object

In [24]:
s['ig1':'ig3']

ig1    maisena
ig2    farinha
ig3       ovos
Name: ingredientes, dtype: object

In [32]:
s2 = pd.Series(
    data = [200,250,100,2,150,180]
    ,index =  ['maisena','farinha','açúcar','ovos','manteiga','castanha']
    ,name = 'Quantidade'
    #,type = 
)
s2

maisena     200
farinha     250
açúcar      100
ovos          2
manteiga    150
castanha    180
Name: Quantidade, dtype: int64

In [33]:
s2['manteiga':]

manteiga    150
castanha    180
Name: Quantidade, dtype: int64

In [35]:
s2>=200

maisena      True
farinha      True
açúcar      False
ovos        False
manteiga    False
castanha    False
Name: Quantidade, dtype: bool

In [36]:
s2[s2>=200]

maisena    200
farinha    250
Name: Quantidade, dtype: int64

## Dataframe

In [ ]:
df = pd.DataFrame(
    {
     'ingredientes':  ['maisena','farinha','açúcar','ovos','manteiga','castanha']
    ,'quantidade': [200,250,100,2,150,180]
    }
)
df

  ingredientes  quantidade
0      maisena         200
1      farinha         250
2       açúcar         100
3         ovos           2
4     manteiga         150
5     castanha         180

In [52]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [54]:
df.columns

Index(['ingredientes', 'quantidade'], dtype='object')

In [55]:
df.columns=['Ingredientes', 'Qty']

In [56]:
df

  Ingredientes  Qty
0      maisena  200
1      farinha  250
2       açúcar  100
3         ovos    2
4     manteiga  150
5     castanha  180

In [ ]:
df.iloc[3, 1]

np.int64(2)

In [ ]:
#Alterar valor específico da coluna
df.iloc[3, 1] = 3
df.iloc[3, 1]

np.int64(3)

In [ ]:
#Alterar Index
index= ['ig1','ig2','ig3','ig4','ig5','ig6']

In [63]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [64]:
df.index = ['ig1','ig2','ig3','ig4','ig5','ig6']
df.index

Index(['ig1', 'ig2', 'ig3', 'ig4', 'ig5', 'ig6'], dtype='object')

In [65]:
df

    Ingredientes  Qty
ig1      maisena  200
ig2      farinha  250
ig3       açúcar  100
ig4         ovos    3
ig5     manteiga  150
ig6     castanha  180

In [71]:
df.iloc[3, 0]

'ovos'

In [72]:
df.loc['ig4','Ingredientes']

'ovos'

In [73]:
df['Qty']

ig1    200
ig2    250
ig3    100
ig4      3
ig5    150
ig6    180
Name: Qty, dtype: int64